*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:auto;
   
}
a{
    text-decoration: none;
}
/* debug */
.debug header{
background-color: cadetblue; 
height: 500px;
}
.debug main{
    background-color: rgb(166, 173, 145);
    height: 1800px;
        
}
.debug footer{
    background-color: rgb(194, 163, 206);
    height: 500px;
}
/* #nav_bar{
    height:80px;
    background-color: bisque;
} */
.container-flex{
    display: flex;
    justify-content: 
}
.logo{
    width: 25%;
    padding:10px;
}
.menu_center{
    width:37.5%;
}
.menu_right{
    width:37.5%;
}
.logo > img{
  width:50%;
}
#header_main{
    background-image:url(./img/bg-banner-home.jpg);
    height:400px;
}
ul > li {
    padding:10px;
}
.btn{
padding: 5px;
border-radius: 5px;
font-size: 10px;
}
.btn_outline{
border:1px solid black;
color:black;
background-color: white;
}
#nav_bar li{
    list-style: none;
    display:inline-block;
    
}