*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
.container{
    width:80%;
    margin:auto;
   
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: 'Inter-Medium','Helvetica','san-serif';
}
/* debug */
.debug header{
background-color: cadetblue; 
height: 500px;
}
.debug main{
    background-color: rgb(166, 173, 145);
    height: 1800px;
        
}
.debug footer{
    background-color: rgb(194, 163, 206);
    height: 500px;
}
/* utility */
.lt_white{
    color:white;
}
lt_blue{
    color:blue;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<< header>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Nav Bar */
#nav_bar{
   
    background-color: white;
} 
.container-flex{
    display: flex;
    align-items: flex-end;
}
.logo{
    width: 25%;
    padding:10px 0;
}
.menu_center{
    width:37.5%;
}
.menu_right{
    width:37.5%;
}
.logo > img{
    width:50%;
}
#site_header{
    background-image:url(./img/bg-banner-home.jpg);
    height:440px;
}
ul > li {
    padding:10px;
}
.btn{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.btn_outline{
    border:1px solid blue;
    color:blue;
    background-color: white;
}
.btn_solid{
    border:1px solid blue;
    color:white;
    background-color: blue;
}
#nav_bar li{
    list-style: none;
    display:inline-block;
    
}

/* Info & Form */
.header_info, .hd_form{
    width:50%;
}
.title_header{
    font-size: 46px;
    width: 75%;
}
.txt_header{
    width: 95%;
    font-size: 20px;
    margin-top: 15px;
}
.hd_form{
    border:1px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    margin-top: 10px;
}
.header_main li{
    list-style: none;

}
.btn_frm{
    padding: 5px 180px;
    border-radius: 5px;
    font-size: 15px;
}
.btn_form_solid{
    border:1px solid blue;
    color:white;
    background-color: blue;
}
.btn_form_outline{
    box-shadow:  1px 2px 12px #c5c5c5;
    background-image: url(./img/google-icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
.hd_form > a{
    color: blue;
    text-decoration: underline;
}
li>input{
    padding: 5px 162px;
}